.line {
    width: 30%;
    border: none;
    border-top: 2px solid black;
  }
  
  .title{
    font-weight: 700;
    min-width: 200px;
  }

  p{
    font-size: 18px;
  }



  .secondDiv{
    max-width: 120rem;
    width: 100%;
  }

  .sizing{
    max-width: 120rem;
  }
  
  .mainContact{
    margin-left: 4rem;
    margin-right: 4rem;
  }

  @media only screen and (max-width: 767.98px) {

    .mainContact{
      margin-left: 2rem;
      margin-right: 2rem;
    }
  
}
