<div class="d-flex flex-row px-lg-5 px-0 py-5 mb-5 mx-lg-5 mx-0 mt-lg-0 mt-3y main justify-content-around align-items-start">
    <div class="d-flex flex-column justify-content-between align-content-center image ps-3 ps-lg-2">
        <img src="https://res.cloudinary.com/dhazmjqap/image/upload/v1713644323/436837291_3136709886459609_2005298624380689079_n_1_hcvxj8.jpg" alt="Nada Mohammed"
            class="me-3 me-lg-5 shadow-sm">
    </div>
    <div class="details">
        <h4>Nada Mohammed</h4>
        <h5>Software Engineer</h5>
        <h6>Cairo, Egypt</h6>
        <br>
        <p>Email: <a href="mailto:nadamohkh@gmail.com" class="email">nadamohkh@gmail.com</a></p>
    </div>
</div>