h4{
    font-weight: 700;
}

.main{
    /* transition: transform 0.5s;
    transform-style: preserve-3d; */

    transition: transform 1.5s;
    transform-style: preserve-3d;
    perspective: 1000px;
    box-shadow:  0px 8px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid aliceblue;
    min-width: 400px;

    /* transition: transform 0.5s;
    transform-style: preserve-3d; */
}

.main:hover {
    /* transform: perspective(500px) rotateX(5deg) rotateY(5deg); */
    transform: rotatey(360deg);
    
  }

a{
    text-decoration: none;
    font-weight: 500;
}

img{
    max-width: 80px;
    height:fit-content;
    border: 1px solid gainsboro;
    /* border-radius: 30px; */
}

