<div class="d-flex flex-row px-lg-5 px-0 py-5 mb-5 mx-lg-5 mx-0 mt-lg-0 mt-3y main justify-content-around align-items-start">
    <div class="d-flex flex-column justify-content-between align-content-center image ps-3 ps-lg-2">
        <img src="../../../assets/images/lightlogo.jpg" alt="Nada Mohammed"
            class="me-3 me-lg-5 shadow-sm">
    </div>
    <div class="card-body">
        <h4>Nada Mohammed</h4>
        <h5>Software Engineer</h5>
        <h6>Cairo, Egypt</h6>
        <br>
        <div class="d-flex" (mouseover)="showCopyIcon = true" (mouseleave)="showCopyIcon = false">
            <p>Email: <a href="mailto:nadasulaiman01@gmail.com" class="email pe-1" #target>nadasulaiman01@gmail.com</a><i class="copy-icon bi bi-copy" [positionTarget]="target" ngbPopover="Copied to clipboard" title="Copy"  *ngIf="showCopyIcon" (click)="copyEmail()"></i></p>        
        </div>
    </div>
</div>