<div class="d-flex flex-column align-items-center text-center">
    <div>
        <h1>About me</h1>
    </div>
    <div>
    <p>
        I earned my Bachelor in software engineering in 2023 from Ain Shams university. During college, I learned several programming languages and I applied them on my projects using different frameworks.
        But even though I am familiar with many languages and framewroks, I have focused on my last year on .NET and thus have used it in my most recent projects.
        Now I work as a full-stack .NET developer to produce full-blown web applications, but I am always open to learn and use different technologies.

    </p>
</div>
<div>
    <h2>Skill Set</h2>
    <div>
        <h1><span class="badge rounded-pill text-bg-primary">HTML</span>
            <span class="badge rounded-pill text-bg-primary">CSS</span>
            <span class="badge rounded-pill text-bg-primary">JavaScript</span>
            <span class="badge rounded-pill text-bg-primary">TypeScript</span>
            <span class="badge rounded-pill text-bg-primary">C#</span>
            <span class="badge rounded-pill text-bg-primary">C++</span>
            <span class="badge rounded-pill text-bg-primary">Java</span>
            <span class="badge rounded-pill text-bg-primary">Dart</span>
            <span class="badge rounded-pill text-bg-primary">.NET Core</span>
            <span class="badge rounded-pill text-bg-primary">EF Core</span>
            <span class="badge rounded-pill text-bg-primary">SQL</span>
            <span class="badge rounded-pill text-bg-primary">NoSQL</span>
            <span class="badge rounded-pill text-bg-primary">Git</span>
        </h1>

    </div>
</div>
</div>