<div class="d-flex justify-content-center align-items-center">
    <div class="secondDiv">


        <div class="sizing d-flex justify-content-around align-items-center text-center mb-4 pb-3 mt-xl-3">
            <hr class="line">
            <h1 class="title">About me</h1>
            <hr class="line">

        </div>
        <div class="sizing d-flex flex-column flex-md-row mainAbout mb-5 py-3 shadow-sm">
            <div class="qualifications py-5 border-top-0">
                <h3 class=" mb-4">What do I do?</h3>
                <p>
                    I earned my Bachelor’s degree in Software Engineering in 2023. Throughout my college years, I
                    acquired
                    knowledge in various programming languages and implemented them in my projects using diverse
                    frameworks.<br><br>
                    Despite my familiarity with numerous languages and frameworks, I concentrated on .NET during my
                    final year,
                    and thus have used it in my most recent projects.<br><br> Currently, I am employed as a full-stack
                    .NET developer,
                    creating comprehensive web applications. However, I remain receptive to learning and using different
                    technologies.<br>

                </p>
            </div>
            <div class="skills py-5 px-3  border-top-0">
                <h3 class="mb-4">What are my skills?</h3>
                <div>
                    <h3><span class="pill badge rounded-pill text-bg-dark">HTML</span>
                        <span class="pill badge rounded-pill text-bg-dark">CSS</span>
                        <span class="pill badge rounded-pill text-bg-dark">JavaScript</span>
                        <span class="pill badge rounded-pill text-bg-dark">TypeScript</span>
                        <span class="pill badge rounded-pill text-bg-dark">Angular</span>
                        <span class="pill badge rounded-pill text-bg-dark">C#</span>
                        <span class="pill badge rounded-pill text-bg-dark">.NET Core</span>
                        <span class="pill badge rounded-pill text-bg-dark">EF Core</span>
                        <span class="pill badge rounded-pill text-bg-dark">C++</span>
                        <span class="pill badge rounded-pill text-bg-dark">Java</span>
                        <span class="pill badge rounded-pill text-bg-dark">Dart</span>
                        <span class="pill badge rounded-pill text-bg-dark">SQL</span>
                        <span class="pill badge rounded-pill text-bg-dark">NoSQL</span>
                        <span class="pill badge rounded-pill text-bg-dark">Git</span>
                    </h3>

                </div>
            </div>

        </div>


    </div>
</div>