p {
    font-weight: 400;
    font-size: 28px;
}

.hero-title {
    font-size: 45px;
    font-weight: 800;
}

@media only screen and (max-width: 767.98px) {
    .hero-title {
        font-size: 2rem;
        font-weight: 800;
    }
}

.hero-section {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

img {
    width: 100%;
}

.hero-content {
    max-width: 100%;
}

.hero-subtitle {
    max-width: 65rem;
}

.hero-image {
    margin-bottom: 9rem;
    max-width: 120rem;
    margin-inline: auto;
}
