p{
    font-weight: 400;
    font-size:28px;
}

.name{
    font-size: 45px;
    font-weight: 800;
}


.homeDiv{
margin-top: 7rem;
margin-bottom: 7rem;

}

img{
    width: 100%;
}

.seconDiv{
    max-width: 100%;
}

.subtitle{
    max-width: 65rem;
}


.imgDiv{
    margin-bottom: 9rem;
}