<div class="hero-section mb-lg-0">
    <div class="d-flex justify-content-center align-items-center">
        <div class="hero-content">
            <div class="d-flex flex-column align-items-center text-center">
                <div class="p-2 mt-5">
                    <h1 class="hero-title">Hey, I'm Nada Mohammed</h1>
                </div>
                <div class="px-lg-5 px-md-2 py-3 pb-0 mx-5">
                    <div class="px-xl-5">
                        <p class="text-secondary hero-subtitle">
                            A result-oriented full-stack web developer. I engineer web applications from concept to deployment.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-image">
        <img src="../../../assets/images/homeTrex.png" alt="Chrome T-Rex">
    </div>
</div>
