.sizing{
    max-width: 120rem;
}

a{
    cursor: pointer;
}

p{
    font-weight: 300;
    font-size: 20px;
}

h1{
    font-weight: 900;
}

img{
    max-width: 100%;
}

.myCard{
    max-width: 25rem;
}