.container-sizing {
    max-width: 120rem;
    margin-inline: auto;
}

.link {
    cursor: pointer;
}

.error-text {
    font-weight: 300;
    font-size: 20px;
}

.error-title {
    font-weight: 900;
}

.error-image {
    max-width: 100%;
}

.error-card {
    max-width: 25rem;
}
