<div class="d-flex flex-column align-items-center">
    <div class="text-center">
        <h2>Projects</h2>
        <h3>Here you will find some of the full-stack projects that I created. You can check each project in more details by pressing the Details button</h3>
    </div>
    <div class="d-flex">
        <img src="https://www.freeiconspng.com/thumbs/laptop-png/mac-laptop-png-13.png" alt="Online Bookstore">
        <div class="d-flex flex-column ">
            <h2>Online Bookstore</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div>
            <button type="button" class="btn btn-primary">Details</button>
        </div>
        </div>
    </div>
</div>