.section-divider {
  width: 30%;
  border: none;
  border-top: 2px solid black;
}

.section-title {
  font-weight: 700;
  min-width: 200px;
}

.section-text {
  font-weight: 400;
  font-size: 24px;
}

.section-container {
  padding-top: 2rem;
}

.section-subtitle {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  max-width: 120rem;
}

.arrow-icon {
  max-width: 30%;
}

@media only screen and (min-width: 992px) {
  .section-subtitle {
      margin-left: 10rem;
      margin-right: 10rem;
  }

  .image-container {
      max-width: 50%;
  }

  .project-details {
      max-width: 50%;
  }

  .arrow-icon {
      max-width: 10%;
  }
}

img {
  max-width: 80%;
}

.project-details p {
  font-size: 18px;
}

.btn-custom {
  display: inline-block;
  padding: 10px 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease 0s;
}

.btn-custom:hover {
  box-shadow: 0px 5px 5px rgba(20, 6, 48, 0.26);
  transform: translateY(-4px);
  color: darkslategray;
  background-color: aliceblue;
  font-weight: 800;
}

.link-bold {
  text-decoration: none;
  font-weight: 900;
}

.highlight-text {
  font-size: large;
}

.projects-container {
  max-width: 120rem;
}

.full-width {
  max-width: 100%;
}

.description-container {
  max-width: 65rem;
}

.max-width-container {
  max-width: 120rem;
}

.main-content {
  margin-left: 4rem;
  margin-right: 4rem;
}

@media only screen and (max-width: 767.98px) {
  .main-content {
      margin-left: 1rem;
      margin-right: 1rem;
  }
}
