.container-wrapper {
    max-width: 120rem;
    width: 100%;
}

.text-large {
    font-size: large;
}

.list-item {
    font-size: large;
}

.text-bold {
    font-size: large;
    font-weight: bold;
}

.image-container {
    min-width: 3rem;
    max-width: 8rem;
}

.image-full {
    width: 100%;
}

.accordion-header-custom {
    cursor: pointer;
}

.accordion-toggle {
    transition: background-color 0.3s ease;
}

.framework-section {
    padding: 2rem 0;
}

.framework-heading {
    margin-bottom: 1rem;
    font-weight: bold;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
