.sizing{
    max-width: 120rem;
    width: 100%;
}

p{
    font-size: large;
}

strong{
    font-size: large;
}

li{
    font-size: large;
}

.image{
    min-width: 3rem;
    max-width: 10rem;
}

img{
    width: 100%;
}