<div class="d-flex justify-content-center align-items-center mt-4">
    <div class="sizing">
        <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-md-start align-items-center py-5 my-5">
            <div class="data px-5 pt-3">
                <h1 class="mb-3">Online Bookstore</h1>
                <p class="text-dark">This page has an overview of the online bookstore projects.
                    I have mentioned its overview, features, technical implementation and architecture, as well as tools
                    used.
                    you can check the tools and technologies used at the end of this page.
                </p>
            </div>
            <div class="pt-3 px-5">
                <img src="https://res.cloudinary.com/dhazmjqap/image/upload/v1713594719/monitor2_fhllrd.png" alt="Online Bookstore">
            </div>
        </div>

    </div>
</div>