.container-box {
  max-width: 120rem;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.heading-primary {
  font-weight: 900;
  font-size: xx-large;
}

.divider {
  width: 5rem;
  background-color: black;
  border: 3px solid black;
  border-radius: 10px;
}

.heading-secondary {
  font-weight: 600;
  font-size: larger;
  max-width: 50rem;
  margin-bottom: 5rem;
}

.btn-custom {
  display: inline-block;
  padding: 10px 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease 0s;
  min-width: 15rem;
}

.btn-custom:hover {
  box-shadow: 0px 5px 5px rgba(20, 6, 48, 0.26);
  transform: translateY(-4px);
  color: darkslategray;
  background-color: aliceblue;
  font-weight: 800;
  border: 1px solid rgba(0, 0, 0, 0.495);
}

.btn-secondary-custom {
  border: 1px solid rgba(0, 0, 0, 0.495);
}

.icon-box {
  margin-bottom: 4rem;
  font-size: 50px;
  color: rgb(255, 255, 255);
  height: 5rem;
  width: 5rem;
  border: 1px solid black;
  border-radius: 40px;
}
