a{
  text-decoration: none;
}

.sizing{
    max-width: 120rem;
    width: 100%;
    padding-top: 2rem;
}

.main-header{
    font-weight: 700;
    min-width: 200px;
}

.cars{
    border: 2px solid black;
    border-radius: 5px;
    max-width: 65rem;
}

.position{
    width: 100%;
}

.line {
    width: 30%;
    border: none;
    border-top: 2px solid black;
  }
  
  .title{
    font-weight: 700;
    min-width: 200px;
  }


.buttons{
  margin-top: 1rem;
  margin-bottom: 5rem;
  max-width: 32rem;
  width: 100%;
}

button {
  display: inline-block;
  padding: 10px 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease 0s;
  min-width: 15rem;
}

button:hover{
  box-shadow: 0px 5px 5px rgba(20, 6, 48, 0.26);
  transform: translateY(-4px);
  color:darkslategray;
  background-color: aliceblue;
  font-weight: 800;
  border: 1px solid rgba(0, 0, 0, 0.495);

}

.button2{
  border: 1px solid rgba(0, 0, 0, 0.495);
}

img{
  max-width: 75%;
  border: 1px solid gray;
}


@media only screen and (max-width: 450px) {

  img{
    max-width: 90%;
  }

}

@media only screen and (max-width: 920px) {

  img{
    max-width: 85%;
  }

}